<!doctype html>
<html ng-app="twobrainsdemo">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/lodash.js"></script>
		<script src="js/restangular.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<div id="body">
			<div id="header">
				<h1>2Brains Test</h1>
			</div>

			<div ng-view></div>

			<!-- MAIN theme, testing purposes -->
			<script type="text/ng-template" id="main.html">

				<button class="btn btn-default mainbutton" ng-click="getAllPosts()">Get All Posts</button>
				<button class="btn btn-default mainbutton" ng-click="getFibonacciPosts(10)">Get 10 Fibonacci Posts</button>
				<button class="btn btn-default mainbutton" ng-click="getFibonacciPostsUntil(100)">Get Fibonacci Posts Until 100</button>

				<div class="row">
					<div class="col-sm-4">
						<br />
						Search post by ID
						<div class="input-group">
							<input type="text" class="form-control" ng-model="inputdata.searchpostbyid" placeholder="Search post by ID...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="getPostByID(inputdata.searchpostbyid)">Go Fetch!</button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<br />
						Search post by Title
						<div class="input-group">
							<input type="text" class="form-control" ng-model="inputdata.searchpostbytitle" placeholder="Search post by Title...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="getPostByTitle(inputdata.searchpostbytitle)">Go Fetch!</button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<br />
						Search comment by post ID
						<div class="input-group">
							<input type="text" class="form-control" ng-model="inputdata.searchcommentbypostid" placeholder="Search comment by post ID...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="getCommentsByPostID(inputdata.searchcommentbypostid)">Go Fetch!</button>
							</span>
						</div>
					</div>
				</div>

				<div class="resultsmsg" ng-if="results">
					<hr />
					Results: 
				</div>

				<div class="content">

					<div class="comments" ng-if="comments">
						<div class="post" ng-repeat="comment in comments">
							<span class="label label-default">ID: {{comment.id}}</span>
							<span class="label label-default">Post ID: {{comment.postId}}</span>
							<br />
							<br />
							<span class="label label-info">NAME: </span><br />
							{{ comment.name }}
							<br />
							<br />
							<span class="label label-info">EMAIL: </span><br />
							{{ comment.email }}
							<br />
							<br />
							<span class="label label-info">BODY: </span><br />
							{{ comment.body }}
						</div>
					</div>

					<div class="post" ng-repeat="(key, post) in results">
						<span class="ids">
							<span class="label label-default">Post ID: {{post.id}}</span>
							<span class="label label-default">User ID: {{post.userId}}</span>
						</span>
						<br />
						<br />
						<div class="title">
							<span class="label label-primary">TITLE:</span><br />{{post.title}}
						</div>
						<div class="body">
							<span class="label label-primary">BODY:</span><br />{{post.body}}
						</div>

						<button class="btn btn-default" ng-if="!post.comments" ng-click="getCommentsFromPost(post.id, key)">Get Comments</button>

						<div ng-if="post.comments"><span class="label label-primary">COMMENTS: </span></div>
						<div class="comments" ng-if="post.comments">
							<div class="post" ng-repeat="comment in post.comments">
								<span class="label label-default">ID: {{comment.id}}</span>
								<br />
								<br />
								<span class="label label-info">NAME: </span><br />
								{{ comment.name }}
								<br />
								<br />
								<span class="label label-info">EMAIL: </span><br />
								{{ comment.email }}
								<br />
								<br />
								<span class="label label-info">BODY: </span><br />
								{{ comment.body }}
							</div>
						</div>

						<button class="btn btn-default" ng-click="GoToPostDetails(post.id)">View Raw Data</button>
					</div>

				</div>

			</script>
			<!-- Post Details theme, testing purposes -->
			<script type="text/ng-template" id="post.html">

				<div class="content">

					<pre>
						{{post}}
					</pre>

					<hr />

					<span class="ids">
						<span class="label label-default">Post ID: {{post.id}}</span>
						<span class="label label-default">User ID: {{post.userId}}</span>
					</span>
					<br />
					<br />
					<div class="title">
						<span class="label label-primary">TITLE:</span><br />{{post.title}}
					</div>
					<div class="body">
						<span class="label label-primary">BODY:</span><br />{{post.body}}
					</div>

					<button class="btn btn-default" ng-if="!post.comments" ng-click="getCommentsFromPost(post.id, key)">Get Comments</button>

					<div ng-if="post.comments"><span class="label label-primary">COMMENTS: </span></div>
					<div class="comments" ng-if="post.comments">
						<div class="post" ng-repeat="comment in post.comments">
							<span class="label label-default">ID: {{comment.id}}</span>
							<br />
							<br />
							<span class="label label-info">NAME: </span><br />
							{{ comment.name }}
							<br />
							<br />
							<span class="label label-info">EMAIL: </span><br />
							{{ comment.email }}
							<br />
							<br />
							<span class="label label-info">BODY: </span><br />
							{{ comment.body }}
						</div>
					</div>

					<button class="btn btn-default" ng-click="GoToPostDetails(post.id)">View Raw Data</button>
				</div>
			</script>
		</div>
	</body>
</html>